---
title: Home
layout: default
---

<section class="hero diagonal">
	<div class="container">
		<h1>Saudade Studio</h1>
		<h2>Born in London, Built in Lisbon.</h2>
	</div>
</section>

<section>
	<div class="container">
		<h2>Our mission is to build a better, greener future—one product at a time.</h2>
		<p class="subtext">
			We minimise our environmental footprint at every step of the product lifecycle, and we believe that sustainability can be exciting and enjoyable.<br/>
			Whether you're an eco-conscious consumer or an investor looking for purpose-driven ventures, you've come to the right place. Join us on this exciting journey as we work towards to leaving the planet in a better place than we found it.
		</p>
	</div>
</section>

<section>
	<div class="container">
		<h2>Our Portfolio</h2>
		<ul class="image-grid">
			{% for item in site.portfolio reversed %}
				<li>
					<a href="{{ site.baseurl }}{{ item.url }}">
						<img src="{% include relative-src.html src=item.image_path %}" alt="{{ person.name }}">
						<div class="details">
							<div class="name">{{ item.name }}</div>
							<div class="position">{{ item.subtitle }}</div>
						</div>
					</a>
				</li>
			{% endfor %}
			<li class="filler"></li>
			<li class="filler"></li>
		</ul>
	</div>
	<div class="container">
		<ul class="image-grid">
			<h2>The Team</h2>
			<!-- Add photo to left -->
			<p>
				<b>James Campbell - Director</b>
				Text gors here about me
			</p>
		</ul>
	</div>
</section>
