---
title: Home
layout: default
---

<a href="/blog">Blog</a>

<section>
	<div class="container">
		<img alt="Saudade Studio" src="/images/logo.png"/>
		<h2>Born in London, Built in Lisbon.</h2>
	</div>
</section>

<section>
	<div class="container">
		<h2>Our mission is to build a better, greener future—one product at a time.</h2>
		<p class="subtext">
			There has never been a more important issue than climate change, we want to use our
			collective skills to educate and empower people to solve and help us savle our
			blue marble.
		</p>
	</div>
</section>

<section>
	<div class="container">
		<h2>Our Portfolio</h2>
		<ul class="image-grid">
			{% for item in site.portfolio reversed %}
				<li>
					<a href="{{ site.baseurl }}{{ item.url }}">
						<img src="{% include relative-src.html src=item.image_path %}" alt="{{ person.name }}">
						<div class="details">
							<div class="name">{{ item.name }}</div>
							<div class="position">{{ item.subtitle }}</div>
						</div>
					</a>
				</li>
			{% endfor %}
			<li class="filler"></li>
			<li class="filler"></li>
		</ul>
	</div>
	<div class="container">
		<h2>The Team</h2>
		<img class="team" src="/images/james.jpeg"/>
		<p><b>James Fox, Director</b></p>
		<p>
			I first started building websites and editing videos for local businesses back when I was 8. This quickly
			turned into my first business, a Wordpress agency. Around the turn of the iPhone, I moved into iOS app development;
			during this period I did a short internship with a game studio focused on building iOS apps. This lead to me launching
			my first start up which focused on developing a pre-production app for film & tv studios and eventually my first fulltime
			job working for a development agency whre I was able to work across a wide spectrum of sectors.
			<br/><br/>
			After graduating from college, I moved to london to work for a social media start-up called Unii. There I built helped them
			to build a popular messaging service called Fling which reached over million users and a billion messages; Prominent users
			include the likes of Steve Aoki. Following the success of this; I moved onto working at a hyper local startup called Sup which 
			was awarded the Talent Unleashed Awards by Steve Wozniak and the hottest app in the UK by Virgin Media.
			<br/><br/>
			After another brief stint at trying to launch a chatbot agency; I was headhunted to join the generative AI startup
			Autoenhance, where I've managed to help grow their MRR to £50K.
			<br/><br/>
			Now almost 30 and wanting to produce something with purpose, Saudade Studio was born.
		</p>
	</div>
</section>
